[build-system]
requires = ["setuptools", "wheel"]

[tool.black]
line-length = 88

[tool.pytest.ini_options]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]
filterwarnings = [
    "error",
    # imp is indirectly used by uncertainties, see https://github.com/lebigot/uncertainties/issues/145
    "ignore:the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses:DeprecationWarning",
    # the deprecation warning message for imp changed in Python 3.10, so we ignore both versions
    "ignore:the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses:DeprecationWarning",
    # this warning is emmited from astropy 5.0, it needs to be fixed upstream
    "ignore:The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives:DeprecationWarning",
    # this is emmited from scipy
    "ignore:The distutils.sysconfig module is deprecated, use sysconfig instead:DeprecationWarning",
    # we run tests against a non-GUI backend on purpose
    "ignore:Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.:UserWarning",
]

[tool.coverage.run]
omit = [
  "amical/externals/*",
]


[tool.mypy]
python_version = 3.7
ignore_missing_imports = true
warn_unused_configs = true
warn_unused_ignores = true
warn_unreachable = true
show_error_context = true
