name: CI (bleeding edge)
# goals: check stability against
# - dev version of numpy, matplotlib and astropy
# - building with future pip default options

on:
  push:
    branches:
    - main
  pull_request:
    paths:
    - .github/workflows/bleeding-edge.yaml
  schedule:
    # run this every Wednesday at 3 am UTC
  - cron: 0 3 * * 3
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Dev upstream
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12-dev

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel
        python -m pip install --pre --only-binary ":all:" \
          numpy matplotlib scipy \
          --extra-index https://pypi.anaconda.org/scientific-python-nightly-wheels/simple
        python -m pip install git+https://github.com/astropy/astropy.git

    - name: Build amical
      run: |
        python -m pip install --requirement requirements/tests.txt
        python -m pip install --no-build-isolation .

    - name: Run tests
      run: |
        pytest --color=yes
