name: CI (bleeding edge)
# this workflow is heavily inspired from pandas, see
# https://github.com/pandas-dev/pandas/blob/master/.github/workflows/python-dev.yml

# goals: check stability against
# - dev version of numpy, matplotlib and astropy
# - building with future pip default options

on:
  push:
    branches:
    - master
  pull_request:
    paths:
    - .github/workflows/bleeding-edge.yaml
  schedule:
    # run this every day at 3 am UTC
  - cron: 0 3 * * *
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Dev upstream
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel
        python -m pip install git+https://github.com/numpy/numpy.git

        python -m pip install git+https://github.com/matplotlib/matplotlib.git
        python -m pip install git+https://github.com/astropy/astropy.git

        # build-time dependencies for uncertainties + scipy with --no-build-isolation
        python -m pip install pybind11 cython pkgconfig

        # using nighlty wheels for scicy because a release may
        # result in downgrading numpy, which will cause ABI imcompatibilities at import time
        # and building scipy from source triples our build time
        python -m pip install -i https://pypi.anaconda.org/scipy-wheels-nightly/simple scipy

    - name: Build amical
      run: |
        python -m pip install --requirement requirements/tests.txt
        python -m pip install --no-build-isolation .

    - name: Run tests
      run: |
        pytest
