name: CD
on:
  push:
    tags: v*
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
    - name: Build distributions
      shell: bash -l {0}
      run: uv build
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        user: __token__
        password: ${{ secrets.pypi_token }}
