name: CI
on:
  pull_request:
    paths-ignore:
      - "doc/**"
      - README.md
  push:
    branches:
      - master

jobs:
  tests:
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          windows-latest,
        ]
        python-version: [
          '3.7',
          '3.8',
          '3.9',
        ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup package
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[dev]
    - name: Generate coverage report
      run: |
        python -m pytest --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
