name: CI
on:
  pull_request:
    paths-ignore:
      - "doc/**"
      - README.md
  push:
    branches:
      - master

jobs:
  tests:
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          windows-latest,
        ]
        python-version: [
          '3.8',
          '3.10',
        ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup package
      # restricting to pip<22.0 because of pyvo
      # see https://github.com/astropy/pyvo/issues/296
      run: |
        python -m pip install --upgrade "pip < 22.0"
        python -m pip install .[dev]
    - name: Run tests
      run: |
        pytest
