name: CI
on:
  pull_request:
    paths-ignore:
    - doc/**
    - README.md
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - '3.10'
        - '3.14'
        include:
        - os: ubuntu-22.04
          python-version: 3.10.0
          sync-args: --resolution=lowest-direct

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    steps:
    - name: Checkout Source
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Setup uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build
      run: uv sync --no-editable --group test ${{ matrix.sync-args }}
    - name: Run tests
      run: uv run --no-sync pytest --color=yes


  type-check:
    runs-on: ubuntu-latest
    name: type check

    concurrency:
      group: ${{ github.ref }}-dev
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0

    - name: Setup uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        # Match minimal supported Python version
        # to make sure we're not using unparseable syntax
        python-version: '3.10'

    - name: Run mypy
      run: uv run --group typecheck mypy src
