name: CI
on:
  pull_request:
    paths-ignore:
    - doc/**
    - README.md
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - '3.10'
        - '3.14'
        include:
        - os: ubuntu-22.04
          python-version: 3.10.0
          sync-args: --resolution=lowest

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    steps:
    - name: Checkout Source
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build
      run: uv sync --no-editable --group test ${{ matrix.sync-args }}
    - name: Run tests
      shell: bash
      run: |
        uv run --no-sync pytest --color=yes \
          ${{ contains( matrix.sync-args , 'lowest' ) && '-Wdefault' || '' }}


  type-check:
    runs-on: ubuntu-latest
    name: type check

    concurrency:
      group: ${{ github.ref }}-dev
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Setup uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        # Match minimal supported Python version
        # to make sure we're not using unparseable syntax
        python-version: '3.10'

    - name: Run mypy
      run: uv run --group typecheck mypy src
