name: CI
on:
  pull_request:
    paths-ignore:
    - doc/**
    - README.md
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - '3.10'
        - '3.13'

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup package
      run: |
        python -m pip install --upgrade pip
        python -m pip install --requirement requirements/tests.txt
        python -m pip install .
    - name: Run tests
      run: |
        pytest --color=yes


  type-check:
    runs-on: ubuntu-latest
    name: type check

    concurrency:
      group: ${{ github.ref }}-dev
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        # Match minimal supported Python version
        # to make sure we're not using unparseable syntax
        python-version: '3.10'

    - name: Build
      run: |
        python -m pip install --upgrade pip
        python -m pip install --requirement requirements/typecheck.txt
        python -m pip install .

    - name: Run mypy
      run: mypy amical
